bloc1{
    background-color:rgb(189, 214, 238);
    position: absolute;
    top: 1%;
    left: 1.25%;
    width: 25%;
    height: 98%;
    font-size: 17px;
}

html{
    font-family: verdana,sans-serif;
}
body{
    background-color:rgb(230,230,230);
    display: flex;
    justify-content: center;
}

bordure{
    background-color:rgb(255, 255, 255);
    position:absolute;
    top: 1%;
    height: 98%;
    width: 800px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

titre{
    font-size: 25px;
    font-weight: 1000;
    position: absolute;
    top: 1%;
    left: 29%;
    width: 50%;
    height: 10%;
    text-align: left;
}
idphoto{
    position: absolute;
    text-align: center;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 20%;
}

contenu_right{
    margin-left: 0%;
    position: absolute;
    top: 5%;
    left: 29%;
    font-size: 17px;
    word-wrap: break-word;
}

contenu_left{
    margin-left: 0%;
    position: absolute;
    top: 18%;
    left: 5%;
    font-size: 17px;
    word-wrap: break-word;
}

sous_titre2{
    margin-left: 0%;
    font-size: 22px;
    font-weight: 450;
    text-align: left;
}

sous_titre{
    margin-left: 0%;
    color:rgb(91, 155, 213);
    font-size: 22px;
    font-weight: 450;
}



description{
    border: 3px;
    font-size: 20px;
    border-style:double;
    position:absolute;
    top: 10;
    bottom: 10%;
    left: 10%;
    right:10%;
    text-align: center;
}