.menu {

    background-color: rgb(166, 41, 42);
    color: rgb(250, 15, 19);
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    height:75px;
  }

.corps{
    margin-top: 20px;
    background-color: rgb(100, 119, 237);
    height: 350px;

}

.bleu{
    background-color: rgb(38, 119, 165);

}

.verte{
    background-color: rgb(71, 225, 135);


}

.footer{
    background-color: rgb(183, 183, 107);
    height: 100px;
    text-align: center;

}